---
import HeroSectionScrollIcon from './HeroSectionScrollIcon.vue';
---

<section
  id="hero"
  class="flex flex-col pt-28 sm:pt-48 max-w-screen-sm mx-auto h-screen px-2 lg:px-0"
>
  <div class="flex items-center mb-6 sm:mb-0">
    <div
      class="rounded-full bg-rose-400 w-36 h-36 sm:w-52 sm:h-52 mr-4 sm:mr-8 relative flex-none shadow-inner"
    >
      <img class="absolute bottom-0 left-0 mb-4" src="/phil.webp" alt="" />
    </div>
    <div>
      <h1 class="font-exo-2 font-bold text-5xl sm:text-7xl">
        Hi,<br class="sm:hidden" />I'm&nbsp;Phil.
      </h1>
      <p class="hidden sm:block text-2xl sm:text-3xl text-gray-600">
        I turn <span class="text-rose-400">visions</span> into interactive realities with <span
          class="text-rose-400">precision</span
        > and
        <span class="text-rose-400">flair</span>.
      </p>
    </div>
  </div>
  <div>
    <p class="block sm:hidden text-2xl sm:text-3xl text-gray-600">
      I turn <span class="text-rose-400">visions</span> into interactive realities with <span
        class="text-rose-400">precision</span
      > and
      <span class="text-rose-400">flair</span>.
    </p>
  </div>

  <p class="mt-10 leading-8 text-gray-600">
    With 6 years of experience as a
    <span class="text-rose-400 font-normal">Fullstack Developer</span>, I specialize in transforming
    intricate challenges into intuitive, user-friendly solutions. My work is not just about writing
    code; it's about writing the future of businesses, one line at a time. While my core expertise
    lies in frontend development, my interests in
    <span class="text-rose-400 font-normal">UI/UX</span>,
    <span class="text-rose-400 font-normal">blockchain technology</span>, and even <span
      class="text-rose-400 font-normal">dance</span
    >, add a unique flavor to my approach. Let's build something extraordinary together.
  </p>
  <HeroSectionScrollIcon client:only />
</section>
