---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.vue";
---

<Layout title="Phil Mataz">
  <header>
    <nav></nav>
    <h1 class="font-exo-2">Phillip Matambanadzo</h1>
    <p>Senior Frontend Developer | UI/UX Advocate</p>
    <p class="font-roboto">
      Turning visions into interactive realities with precision and flair.
    </p>
  </header>
  <main></main>
</Layout>
