---
import "@fontsource-variable/jetbrains-mono";
import "@fontsource/roboto/300.css";
import "@fontsource/roboto/400.css";
import "@fontsource-variable/exo-2";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Character Set -->
    <meta charset="UTF-8" />
    <!-- Viewport for Responsive Design -->
    <meta name="viewport" content="width=device-width" />

    <!-- Meta Description -->
    <meta
      name="description"
      content="Phillip Matambanadzo (Phil Mataz) - Senior Frontend Developer specializing in creating intuitive, user-centric digital experiences. Explore projects, expertise in UI/UX, and a unique blend of passions from blockchain to dance."
    />

    <!-- Canonical URL (To avoid duplicate content issues) -->
    <link rel="canonical" href="https://philmataz.dev" />

    <!-- Open Graph Tags (For Facebook and LinkedIn sharing) -->
    <meta
      property="og:title"
      content="A portrait of Phillip Matambanadzo, Senior Frontend Developer."
    />
    <meta
      property="og:description"
      content="Phillip Matambanadzo (Phil Mataz) - Senior Frontend Developer specializing in creating intuitive, user-centric digital experiences. Explore projects, expertise in UI/UX, and a unique blend of passions from blockchain to dance."
    />
    <meta property="og:image" content="/social-preview.webp" />
    <meta
      property="og:image:alt"
      content="A portrait of Phillip Matambanadzo, Senior Frontend Developer."
    />

    <meta property="og:url" content="https://philmataz.dev" />
    <meta property="og:type" content="website" />

    <!-- Twitter Tags (For Twitter sharing) -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Phillip Matambanadzo | Senior Frontend Developer"
    />
    <meta
      name="twitter:description"
      content="Phillip Matambanadzo (Phil Mataz) - Senior Frontend Developer specializing in creating intuitive, user-centric digital experiences. Explore projects, expertise in UI/UX, and a unique blend of passions from blockchain to dance."
    />
    <meta name="twitter:image" content="/social-preview.webp" />
    <meta name="twitter:site" content="@philmataz" />

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-slate-50 font-roboto text-gray-700 font-light">
    <slot />
  </body>
</html>
